  <h1>Order #<%= @order.id %></h1>

    <h4>Thank you for your order!</h4>
    <p>TOTAL: $<%= @order.total_cents/100 %></p>
    <%= @order.email %>

  <p><%= @order_total %></p>
  <table>
      <thead>
        <tr>
          <th colspan="2">Products</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Item Total</th>
        </tr>
      </thead>
      <tbody>
        <% @order_total = 0 %>
        <% @ordered_items.each do |item| %>
          <%= render 'line_item', item: item %>
        <% end %>
      </tbody>
    </table>
    <div>
    </div><br>
