<article class="product">
  <header>
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <h4><%= product.name %></h4>
    <% end %>
  </header>
  <p class="description">
    <%= product.description %>
  </p>
  <% if product.reviews.size > 0 %>
  <% overall_rating = 0.0 %>
  <% product.reviews.each {|review| overall_rating += review.rating} %>
  <% overall_rating = (overall_rating / product.reviews.size) %>
  <p><strong>Overall rating:</strong> <%= overall_rating.round(1) %></p>
  <% end %>
  <footer class="actions">
    <%= link_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary', method: :put do %>
      <%= fa_icon "shopping-cart", text: 'Add' %>
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details &raquo;
    <% end %>
  </footer>


  <aside class="price">
    <%= humanized_money_with_symbol product.price %>
  </aside>
  <% if product.quantity == 0 %>
    <aside class="badge">
      SOLD OUT!
    </aside>
  <% end %>
</article>
